body {
  padding-top: 70px;
}

.jumbotron {
  color: #2C3E50;
  background: #ecf0f1
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.image {
  object-fit: cover;
  max-height: 250px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
}